.button {
  padding: 10px 20px;
  border: 1px solid #236b65;
  background-color: #212529;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.button:hover{
  background-color: #a3bcd1;
}
