.button {
  padding: 10px 20px;
  border: 1px solid #236b65;
  background-color: #212529;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.button:hover{
  background-color: #a3bcd1;
}


.bg__image {
  background-image: url(../images/bg.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}

.container__form {
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 12px;
  margin: auto;
}

.custom-form {
  padding-top: 12vh!important;
  padding-bottom: 12vh!important;
}